@import "../../styles/variables";

.collection-preview {
  display: flex;
  flex-direction: column;

  & + .collection-preview {
    margin-top: 30px;
  }

  .title {
    color: $color-black;
    font-size: 28px;
    margin-bottom: 15px;
  }

  .preview {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }
}
