@import "../../styles/include-media";
@import "../../styles/include-media";

.filter-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	.filter-header {
		text-align: left;
		margin-right: auto;
		margin-bottom: 20px;

		@include media("<tablet") {
			display: none;
		}
	}

	&-by-price {
		margin-bottom: 15px;

		@include media("<tablet") {
			margin-bottom: 0px;
		}
	}

	.btn {
		margin-top: 10px;
	}
}
