.filter-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	.filter-header {
		text-align: left;
		margin-right: auto;
		margin-bottom: 20px;
	}

	&-by-price {
		margin-bottom: 15px;
	}

	.btn {
		margin-top: 10px;
	}
}
