.dropdown {
  position: absolute;
  min-width: 160px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 0;
  z-index: 5;
  background-color: $color-white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  .dropdown-items-wrapper {
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .dropdown-item {
      padding: 15px 20px;

      &:hover {
        background-color: $color-grey-2;
      }
    }
  }

  .cart-items-wrapper {
    padding-right: 10px;
  }

  &.padded {
    padding: 15px 20px;
  }

  button {
    margin-top: auto;
  }
}

// react-dropdown-select component css overwrite
.react-dropdown-select {
  border-radius: 5px !important;
  margin: 15px 0 !important;
  width: 200px !important;
  padding: 0 10px !important;

  &:hover {
    border-color: $color-primary !important;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &-content {
    span {
      font-size: 14px !important;
    }

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &-item {
    font-size: 14px !important;
    &-selected {
      background-color: $color-primary !important;
    }
  }
}

// overrides for filter dropdown
.dropdown-wrapper {
  position: relative;

  .clear-filter-button {
    position: absolute;
    top: 10px;
    left: 150px;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: $color-error;
    }
  }
}
