@import "../../styles/variables";
@import "../../styles/include-media";

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $color-white;
  box-shadow: 0 0.1rem 1rem rgba($color-black, 0.2);

  .brand-logo-container {
    width: 70px;
    padding: 5px;
  }

  .navbar-icons {
    display: none;

    @include media("<tablet") {
      display: block;
    }

    .icon-wrap {
      cursor: pointer;

      .icons {
        color: $color-black;

        &.icon-menu {
          font-size: 32px;
        }

        &.icon-clear {
          font-size: 22px;
        }
      }
    }
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.responsive-nav {
      display: none;

      @include media(">phone") {
        display: flex;
      }
    }

    @include media("<tablet") {
      display: none;
      border-top: 1px solid $color-grey-2;
      background-color: #fdfffc;
      width: 100%;
      z-index: 99;
      height: auto;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      box-shadow: 0 1.2rem 2rem rgba($color-black, 0.2);
    }

    .nav-items {
      cursor: pointer;
      position: relative;

      @include media("<tablet") {
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid $color-grey-2;
      }

      .nav-item-link {
        padding: 10px 15px;
        z-index: 5;

        @include media("<tablet") {
          padding: 0 15px;
          display: inline-block;
          width: 100%;
        }

        &:hover,
        &.active {
          color: $color-primary;
          fill: $color-primary;
        }
      }

      .user-info-wrapper {
        display: flex;
        align-items: center;

        .user-logo {
          height: 24px;

          @include media("<tablet") {
            height: 19px;
          }
        }

        .user-label {
          margin-left: 5px;
        }
      }

      .cart-info-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media("<tablet") {
          justify-content: flex-start;
        }

        .cart-text {
          display: none;
          text-transform: uppercase;
          margin-left: 5px;

          @include media("<tablet") {
            display: block;
          }
        }

        .cart-logo {
          height: 26px;

          @include media("<tablet") {
            height: 19px;
          }
        }

        .cart-price {
          position: absolute;
          top: -1px;
          left: 18px;
          font-size: 11px;
          font-weight: 600;
          width: 25px;
          text-align: center;

          @include media("<tablet") {
            top: -12px;
            left: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
