@import "../../styles/variables";

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 40px;
  background-color: $color-white;
  box-shadow: 0 0.1rem 1rem rgba($color-black, 0.2);

  .brand-logo-container {
    height: 100%;
    width: 70px;
    padding: 5px;
  }

  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-items {
      cursor: pointer;
      position: relative;

      .nav-item-link {
        padding: 10px 15px;
        z-index: 5;

        &:hover,
        &.active {
          color: $color-primary;
          fill: $color-primary;
        }
      }

      .user-info-wrapper {
        display: flex;
        align-items: center;

        .user-logo {
          width: 24px;
          height: 24px;
        }

        .user-label {
          margin-left: 5px;
        }
      }

      .cart-info-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .cart-logo {
          height: 26px;
          width: 26px;
        }

        .cart-price {
          position: absolute;
          top: -1px;
          left: 18px;
          font-size: 11px;
          font-weight: 600;
          width: 25px;
          text-align: center;
        }
      }
    }
  }
}
