@import "../../styles/variables";

.forgot-password {
  width: 50%;
  max-width: 600px;
  margin: 40px auto;

  .forgot-password-text {
    padding: 15px;
    margin: 20px 0 40px 0;
    line-height: 1.6;
    font-size: 14px;
    background-color: $color-grey;
    border-radius: 4px;
    color: $color-white;
    text-align: center;
  }
}
