@import "../../styles/variables";
@import "../../styles/include-media";

.my-orders {
  max-width: 1000px;
  margin: 0 auto;

  .my-orders-table {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    background-color: $color-white;
    box-shadow: 0 0px 40px 0px rgba($color-black, 0.15);
    border-radius: 5px;
    overflow: hidden;

    @include media("<tablet") {
      padding-top: 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .responsive-header {
      display: none;

      @include media("<tablet") {
        display: block;
        padding: 10px;
        margin: 0;
        background: $color-primary;
        color: $color-white;
      }
    }

    .my-orders-table-head {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      @include media("<tablet") {
        display: none;
      }

      .table-header-cell {
        text-align-last: left;
        font-size: 18px;
        color: $color-white;
        line-height: 1.4;
        background-color: $color-primary;
        padding: 18px 0;

        @include media("<desktop") {
          font-size: 16px;
          padding: 10px 0;
          font-weight: 600;
        }
      }
    }

    .my-orders-table-body {
      position: relative;
      height: 324px;
      overflow-x: hidden !important;
      overflow-y: auto;

      @include media(">=tablet") {
        height: 486px;
      }

      tr:nth-child(even) {
        background-color: $color-grey-2;
      }

      .table-body-cell {
        font-size: 16px;
        color: $color-secondary;
        line-height: 1.4;
        padding: 16px 0;

        @include media("<desktop") {
          font-size: 14px;
          padding: 14px 0;
        }
      }

      .no-items-message {
        padding: 150px 0;
        height: 100%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media("<tablet") {
          font-size: 18px;
        }

        .happy {
          display: inline-block;
          margin-top: 20px;
          font-weight: bold;
        }
      }
    }

    .warning-label {
      text-align: center;
      color: #e71d36;
      font-size: 12px;
      font-weight: 500;
      padding: 10px;
      background-color: $color-grey-2;
      text-transform: uppercase;
    }

    .my-orders-table-footer {
      padding: 12px 0;
      display: flex;
      border-top: 1px solid $color-primary;
    }

    th.column1,
    td.column1 {
      width: 25%;
      padding-left: 40px !important;

      @include media("<tablet") {
        width: 30%;
        padding-left: 10px !important;
      }
    }

    th.column2,
    td.column2 {
      width: 15%;

      @include media("<tablet") {
        width: 10%;
      }
    }

    th.column3,
    td.column3 {
      width: 10%;

      @include media("<tablet") {
        width: 15%;
      }
    }

    th.column4,
    td.column4 {
      width: 25%;

      @include media("<tablet") {
        width: 20%;
      }
    }

    th.column5,
    td.column5 {
      width: 25%;
    }
  }

  &-payment-options-text {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;

    @include media(">=desktop") {
      margin-top: 40px;
    }
  }

  &-payment-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    .btn {
      margin-right: 40px;
      margin-top: -3px;
      min-width: 150px !important;
      width: 150px !important;
    }
  }
}
