@import "../../styles/variables";
@import "../../styles/include-media";

.checkout-page {
  max-width: 800px;
  margin: 0 auto;

  .checkout-page-table {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    background-color: $color-white;
    box-shadow: 0 0px 40px 0px rgba($color-black, 0.15);
    border-radius: 5px;
    overflow: hidden;

    @include media("<tablet") {
      padding-top: 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .responsive-header {
      display: none;

      @include media("<tablet") {
        display: block;
        padding: 10px;
        margin: 0;
        background: $color-primary;
        color: $color-white;
      }
    }

    .checkout-page-table-head {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      @include media("<tablet") {
        display: none;
      }

      .table-header-cell {
        text-align-last: left;
        font-size: 18px;
        color: $color-white;
        line-height: 1.4;
        background-color: $color-primary;
        padding: 18px 0;
      }
    }

    .checkout-page-table-body {
      position: relative;
      height: 306px;
      overflow-x: hidden !important;
      overflow-y: auto;

      // @include media(">=desktop") {
      //   padding-top: 120px;
      // }

      tr:nth-child(even) {
        background-color: $color-grey-2;
      }

      .table-body-cell {
        font-size: 16px;
        color: $color-secondary;
        line-height: 1.4;
        padding: 16px 0;
      }

      .no-items-message {
        height: 100%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .happy {
          display: inline-block;
          margin-top: 20px;
          font-weight: bold;
        }
      }
    }

    .warning-label {
      text-align: center;
      color: #e71d36;
      font-size: 12px;
      font-weight: 500;
      padding: 10px;
      background-color: $color-grey-2;
      text-transform: uppercase;

      @include media("<tablet") {
        display: none;
      }
    }

    .checkout-page-table-footer {
      padding: 12px 0;
      display: flex;
      border-top: 1px solid $color-primary;

      .footer-label {
        font-size: 18px;
        margin-left: auto;
        margin-right: 20px;

        @include media("<tablet") {
          font-size: 16px;
        }

        .price {
          font-size: 20px;
          margin-left: 5px;
          font-weight: 500;

          @include media("<tablet") {
            font-size: 18px;
          }
        }
      }
    }

    th.column1,
    td.column1 {
      width: 40%;
      padding-left: 40px !important;

      @include media("<tablet") {
        padding-left: 10px !important;
        width: 55%;
      }
    }

    th.column2,
    td.column2 {
      width: 20%;

      @include media("<tablet") {
        width: 15%;
      }
    }

    th.column3,
    td.column3 {
      width: 20%;

      @include media("<tablet") {
        width: 15%;
      }
    }

    th.column4,
    td.column4 {
      width: 20%;

      @include media("<tablet") {
        width: 15%;
      }
    }
  }

  .warning-label-responsive {
    display: none;
    text-align: center;
    color: #e71d36;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    margin-top: 20px;
    background-color: $color-grey-2;
    text-transform: uppercase;

    @include media("<tablet") {
      display: block;
    }
  }

  &-payment-options-text {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;

    @include media(">=desktop") {
      margin-top: 40px;
    }
  }

  &-payment-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    .btn:last-child {
      margin-left: 40px;
    }
  }
}
